
html{
    background-color: #f0f0f0;
}


.controls {
    display: inline-block;

}

.controls a:nth-child(1){
    margin-right: 10px;
}

.logo-brand img{
    padding: 10px;
    width: 60px;
    height: auto;
}

#login_page, #signup_page{
    margin-top: 5%;
    height: 45em;
}

#login_page img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
}

#signup_page img{
    display: block;
    width: 100px;
    height: auto;
    margin: 0 auto;
}


