
#rateForm {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.user-view#rateForm {
    display: block;
    margin: 30% auto;
    text-align: center;
}

#rateForm li{
    list-style: none;
    display: inline;
    padding: 10px;
    text-decoration: none;
}

.star-rating{
    margin-bottom: 20px;
}



.smiley-rating {

}

.smiley-rating a:hover{
    font-size: 1.2em;
    transition: 0.5s ease;
}


.custom-message p span{
    position: absolute;
    left: 18em;
    top: 2.5em;
}



.message {
    font-size: 25px;
    font-weight: lighter;
    padding-bottom:40px;
    border-bottom: 1px solid #ccc;
}


